/* Estilos generales */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #f2f2f2; /* Fondo claro para toda la página */
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-align: center; /* Cambia todo el contenido del cuerpo para que esté centrado */
    padding: 0; /* Asegura que no haya espacio alrededor del cuerpo */
}

a {
    text-decoration: none;
    color: aliceblue;
}



/*header estilos*/
header {

    min-height: 70px;
    display: flex;
    background-color: #282C34;
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 11px;
}







nav ul {
    display: flex;
    justify-content: center; /* Asegura que los enlaces de navegación estén centrados */
    padding: 0;
    list-style: none; /* Elimina los puntos de lista */
}

nav a {
    font-weight: 600;
    padding-right: 20px;
    color: blanchedalmond;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0;
    }
}



img {
    border-radius: 10px;/*pone el borde circular la imagen*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}




/*grid de la section de las 4 imagenes*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px; /*  un ancho máximo para que las imágenes no se estiren demasiado */
    
  }


/* Estilos para las secciones */
section {
    padding: 20px;
   
    margin: 0;
    border: none;
}

.containerTitulo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .imagen-con-titulo {
    width: 50%; /* ajusta el ancho de la imagen */
    margin-right: 20px; /* agrega un margen derecho para separar la imagen del texto */
  }
  
  .containerTitulo2 p {
    width: 50%; /* ajusta el ancho del texto */
  }


/* Eliminar bordes de imágenes */
img {
    border: none; /* Elimina cualquier borde */
    display: block; /* Elimina el espacio debajo de la imagen */
    
}


#titulo1 .imagen-con-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative; /* Asegura que el cuadrado esté posicionado en relación a la imagen */
  }
  
  #titulo1 .imagen-con-titulo img {
    max-width: 50%;
    height: auto;
  }

  #titulo1 .imagen-con-titulo h1 {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
    margin-top: 0; /* Elimina el margen superior */
    text-align: center; /* Centra el texto horizontalmente */
  }



/* Estilos para contenedor de imagen con título */


.imagen-con-titulo {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 30%; /* Ajusta el ancho de la imagen con título */
  
}

.imagen-con-titulo img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

.imagen-con-titulo:hover img {
    transform: scale(1.1);
}

.imagen-con-titulo h1, .imagen-con-titulo h2, .imagen-con-titulo h3 {
    position: absolute; /* Posiciona los títulos dentro del contenedor */
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Esquinas redondeadas */
    text-align: center; /* Centra el texto */
    width: 50%; /* Ajusta el ancho del texto */
    left: 50%; /* Centra horizontalmente */
    top: 50%;
    transform: translateX(-50%,-50%); /* Ajuste de posición horizontal */
    opacity: 0;
    transition: opacity .3s ease;
   
}


.imagen-con-titulo:hover h1, .imagen-con-titulo:hover h2, .imagen-con-titulo:hover h3 {
    opacity: 1;
}
.imagen-con-titulo h1 {
    top: 50%; /* Ajusta la posición del h2 */
    transform: translate(-50%, -50%); 
}

.imagen-con-titulo h3 {
    top: 25%; /* Ajusta la posición del h2 */
    transform: translate(-50%, -50%); /
}

.imagen-con-titulo h2 {
    top: 50%; /* Ajusta la posición del h2 */
    transform: translate(-50%, -50%); /* Centra tanto vertical como horizontalmente */
    font-size: 24px; /* Ajusta el tamaño de la fuente del título */
    margin-top: 20px;
    font-size: 28px;
}





.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Agrega un espacio entre las imágenes */
  }
  
  .grid img {
    width: 30%; /* Reduce el ancho de cada imagen para que quepan en la misma fila */
    margin: 30px; /* Agrega un poco de espacio entre las imágenes */
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }






/* Footer */
/* Footer */

.footer{
    background-color: #24262B;
    padding: 80px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display:inline-block ;
}

.footer-links ul li a
{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom:15PX ;
    transition: all.3s ease;
}
.footer {
    background-color: #24262B;
    padding: 80px;
    text-align: center; /* Centra el contenido del pie de página */
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las filas dentro del pie de página */
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
}
.footer-links ul {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-links ul li {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

/* Estilos adicionales */
.footer-links ul li a {
    font-size: 18px;
    color: #BBBBBB; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Display en bloque */
    margin-bottom: 15px; /* Margen inferior */
    transition: all 0.3s ease; /* Transición suave */
}

.footer-links ul li a:hover {
    color: #FFFFFF; /* Color del texto al pasar el ratón */
}

.social-link a:hover {
    background-color: #00C3FF; /* Color de fondo al pasar el ratón */
}

@media (max-width: 991px) {
    .footer-row {
        text-align: center; /* Alineación del texto */
    }
    .footer-links {
        width: 100%; /* Ancho completo */
        margin-bottom: 30px; /* Margen inferior */
    }
}


/*imagenes segundo texto*/
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.images img {
    width: calc(25% - 10px);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
